@import "tailwindcss";

:root {
    --cor-principal: #06baf9;
    --cor-secundaria: #20225d;
    --cor-secundaria-transparente: rgba(3, 99, 167, 0.2); 
  }
  
  @keyframes spin-slow {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  .animate-spin-slow {
    animation: spin-slow linear infinite;
  }
  